{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
	"ignorePatterns": [
		"**/build/**"
	],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        },
        "requireConfigFile": false,
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        }
    },
    "rules": {
		"semi": ["warn", "always"],
        "quotes": ["warn", "single"],
        "indent": ["warn", "tab"],
        "no-multi-spaces": ["warn"],
        "arrow-parens": ["warn", "as-needed"],
        "arrow-spacing": ["warn", { "before": true, "after": true }],
        "space-infix-ops": ["warn"],
        "no-trailing-spaces": ["warn"],
        "max-len": [
            "error", {
                "code": 120,
                "tabWidth": 4,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true
            }]
    }
}
