{
    "env": {
        "browser": true
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        },
        "requireConfigFile": false,
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        }
    },
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "single"],
        "indent": ["error", "tab"],
        "no-multi-spaces": ["error"],
        "arrow-parens": ["warn", "as-needed"],
        "arrow-spacing": ["warn", { "before": true, "after": true }],
        "space-infix-ops": ["warn"],
        "no-trailing-spaces": ["error"],
        "max-len": [
            "error", {
                "code": 120,
                "tabWidth": 4,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true
            }]
    }
}
